* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
}

.container-wrapper {
    border: 5px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.div-container {
    border: 5px solid rgb(10, 136, 143);
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    /* transform: translateX(50px); */
}

.div-base {
    /* NEEDS to be included or the grid wont actually Fit */
    box-sizing: border-box;
}

.button-container {
    border: 5px solid teal;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.reset {
    background-color: rgb(115, 114, 114);
    color: white;
    width: 25%;
    height: 7.5%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(255, 255, 255);
}

.slider {
    border: 2px solid rgb(62, 62, 55);
    padding: 5px;
    scale: 100%;
}

.grid-label {
    color: white;
    font-weight: 800;
    text-align: center;
}

.range {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.range div {
    color: white;
}

.bg-color {
    color: white;
    display: flex;
    gap: 10px;
}

#color-picker {
    background-color: rgb(0, 0, 0);
}

.bg-color label {
    transform: translateY(4px);
}

.rainbow {
    color: white;
    display: flex;
    gap: 10px;
}

label {
    color: white;
}

/* Figure out how to use css to auto-adjust the size of the container based on the resolution
of the device. Ideally, I want to resize for 1920x1080, 2560x1440, and for a middle ground */