* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
}

.container-wrapper {
    border: 5px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container {
    border: 5px solid rgb(10, 136, 143);
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    /* transform: translateX(50px); */
}

.div-base {
    /* NEEDS to be included or the grid wont actually Fit */
    box-sizing: border-box;
}

.hover {
    background-color: aqua;
}

.button-container {
    border: 5px solid teal;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.reset {}

.range {
    display: flex;
    gap: 5px;
}

.range div {
    color: white;
}

/* Figure out how to use css to auto-adjust the size of the container based on the resolution
of the device. Ideally, I want to resize for 1920x1080, 2560x1440, and for a middle ground */